{% extends 'base.html.twig' %}

{% block title %}Hello HomeController!{% endblock %}

{% block body %}

<h1> PAGE HOME</h1>
<h2 class="color-red">test avec gitaction</h2>
<p>nouvelle class rouge pour le titre 2</p>
<button class="btn">TEST 2</button>

<p>Mise a jour de la piple change main </p>


{% endblock %}


