{% extends 'base.html.twig' %}

{% block title %}Hello HomeController!{% endblock %}

{% block body %}

<h1> PAGE HOME</h1>
<h2 class="color-red">test avec gitaction</h2>
<p>nouvelle class rouge pour le titre 2</p>
<button class="btn">TEST 2</button>

<section>
    <article>
        <h2>Titre 1</h2>
        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Modi expedita sapiente quod incidunt quos. Harum!</p>
    </article>
    <article>
        <h2>Titre 1</h2>
        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Modi expedita sapiente quod incidunt quos. Harum!</p>
    </article>
    <article>
        <h2>Titre 1</h2>
        {{ var }}
        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Modi expedita sapiente quod incidunt quos. Harum!</p>
    </article>
</section>

{% endblock %}


