{% extends 'base.html.twig' %}

{% block title %}Hello HomeController!{% endblock %}

{% block body %}

<h1> PAGE HOME</h1>
<h2>test avec gitaction</h2>
<button class="btn">TEST 2</button>


{% endblock %}


